@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css">
    <style>
        body {
            background: black;
        }

        #div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10, #div11, #div12, #div13, #div14, #div15, #div16, #div17, #div18, #div19, #div20, #div21, #div22, #div23, #div23,
        #div24, #div25, #div26, #div27, #div28 {
            position: relative;
            height: 150px;
            width: 150px;
            cursor: pointer;
            border: 1px solid white;
            float: left;
            top: 5px;
        }

        p {
            color: white;
            font-size: 20px;
        }
    </style>
</head>

<body>

    <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div5" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div6" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div7" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div8" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div9" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div10" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div11" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div12" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div13" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div14" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div15" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div16" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div17" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div18" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div19" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div20" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div21" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div22" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div23" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div24" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div25" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div26" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div27" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <div id="div28" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

    <img id="drag1" src="https://source.unsplash.com/random/150x150" draggable="true" ondragstart="drag(event)" width="150" height="150">
    <img id="drag5" src="https://picsum.photos/200/300/?random" draggable="true" ondragstart="drag(event)" width="300" height="300">
    <iframe id="drag2" src='http://cdn.instantcal.com/cvir.html?id=cv_nav1&theme=RE&ntype=cv_datepicker&file=http%3A%2F%2Fwww.instantcal.com%2Ftest.ics&border_radius=5' draggable="true" ondragstart="drag(event)" allowTransparency='true' scrolling='no' frameborder=0 height=200 width=200></iframe>

    <iframe id="drag3" src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=medium&timezone=America%2FNew_York" draggable="true" ondragstart="drag(event)" scrolling='no' height=200 width=250 frameborder="0" seamless></iframe>
    <p id="drag4" draggable="true" ondragstart="drag(event)">TEST TEST TEST</p>
    <iframe src="https://www.youtube.com/embed/UO5CX_oNfXg" width="560" height="315" frameborder="0"></iframe>
</body>
</html>
